
/* [0] Misc
------------------------------------------------------------------------------*/
html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	font: 1.25em/1.5em Constantia, "Linux Libertine Display G", Cambria, Georgia, serif;
	overflow-y: visibility;
	color: #223;
	background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

a {
	text-decoration: none;
	color: Crimson;
	outline: 0;
}

a:hover, a:focus {
	color: Purple;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	max-width: 100%;
	overflow: hidden;
	text-rendering: geometricPrecision;
}

h1, .huge {
	font-size: 2em;
	line-height: 1.5em;
	margin: .75em 0 .5em;
}

h2, .x-large {
	font-size: 1.75em;
	line-height: 1em;
	margin: 1em 0 1em;
}

h3, .large {
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 1em 0 .2em;
}

h5, h6, p, ul, blockquote, dl, pre, img, .medium {
	font-size: 1em;
	line-height: 1.5em;
	margin: .5em 0 .5em;
	padding: 0;
}

blockquote {
	margin-left: 3em;
}

ul.inline {
	padding: 0;
	list-style: none;
}
ul.inline li, div.inline {
	display: inline-block;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: Consolas, Inconsolata, "courier new", monospace;
	font-size: .8em;
	line-height: 1.25em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: .8em;
}

sub,
sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sr-only {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#content {
	max-width: 40em;
	padding: 1.5em;
	margin: auto;
}

.btn {
	display: inline-block;
	font-family: Corbel, Cantarell, Calibri, Avenir, sans-serif;
	text-rendering: geometricPrecision;
	background: #F0F3F3;
	color: #223;
	padding: 0 .375em;
	height: 2em;
	line-height: 2em;
	/*margin: .75em;*/
}
.btn:hover {
	background: teal;
	color: #eef4d7;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.icon {
	display: inline-block;
	shape-rendering: geometricPrecision;
	fill: #223;
	stroke: #223;
	stroke-width: .5ex;
	width: auto;
	height: 1em;
}

.icon.small {
	height: 1ex;
}

.wip {
	background: Khaki;
	font-style: italic;
	color: OrangeRed;
	text-align: center;
}

/* [1] Banner
------------------------------------------------------------------------------*/

#banner {
	margin-top: 2.5em;
	padding: 3em 0;
	text-align: center;
	background: #223;
	color: #eef4d7;
	font-family: Corbel, Cantarell, Calibri, Avenir, sans-serif;
	text-rendering: geometricPrecision;
}

#banner a {
	color: #f0f3f3;
}


/* [2] Menu
------------------------------------------------------------------------------*/

#menu {
	width: 100%;
	text-align: right;
	background: #f0f3f3;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #eef;
}

#menu ul {
	line-height: 1;
}

#menu li {
	font-size: 1.2em;
	line-height: 1.25em;
	margin: .625em;
}

#menu a {
	color: #223;
}

#menu a:hover {
	color: DarkSlateGray;
}

#switch-menu {
	display: none;
}


/* [3] Pagination
------------------------------------------------------------------------------*/

.pagination {
	border-top: 1px solid #F0F3F3;
	border-bottom: 1px solid #F0F3F3;
	padding: .75em;
	text-align: center;
}

.pagination li {
	display: inline-block;
	margin: .5ex;
}
.pagination a {
	display: inline-block;
	font-family: Corbel, Cantarell, Calibri, Avenir, sans-serif;
	background: #F0F3F3;
	color: #222233;
	padding: 0 .75em;
	height: 2em;
	line-height: 2em;
}

.pagination a:hover {
	background: teal;
	color: #eef4d7;
}

.pagination .active a,
.pagination .disabled a {
	cursor: default;
}

.pagination .active a {
	background: #223;
	color: #F0F3F3;
}

.pagination a:hover .icon {
	fill: #eef4d7;
}

.pagination .disabled {
	display: none;
}


/* [4] Index | Homepage
------------------------------------------------------------------------------*/

#sitename, #headline {
	font: 700 3em/1.25em Constantia, "Linux Libertine Display G", Cambria, Georgia, serif;
	margin: .25em 0;
	text-align: center;
}


/* [5] Listes
------------------------------------------------------------------------------*/

.post-item {
	margin: 1.5em 0;
}

.meta {
	/*margin: .5em 0;*/
	color: Teal;
}

.post-item .post-title {
	text-transform: uppercase;
	/*margin: 0;*/
}

.post-item .meta-time:after {
	content: " : "
}

.read-more {
	text-align: right;
	margin: auto .5em;
}

.post-title a {
	color: #223;
}

.post-picture {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}


/* [6] Pages
------------------------------------------------------------------------------*/

#singlepage .meta {
	text-align: center;
	margin-bottom: 1.5em;
}

.page-content a {
	/*text-decoration: underline;*/ /* some problems detected in chromium with underline and antialiasing */
	border-bottom: 1px solid PaleVioletRed;
}

.page-content a:visited {
	color: DarkSlateGray;
	border-color: LightSlateGray;
}

/* hyphenation */
/* @see: http://generatedcontent.org/post/44751461516/finer-grained-control-of-hyphenation-with-css4*/
.page-content p {
	/**/
	text-align: justify;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	-webkit-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-lines: 2;
	-o-hyphenate-limit-lines: 2;
	hyphenate-limit-lines: 2;

	-webkit-hyphenate-limit-chars: 6 3 2;
	-moz-hyphenate-limit-chars: 6 3 2;
	-ms-hyphenate-limit-chars: 6 3 2;
	-o-hyphenate-limit-chars: 6 3 2;
	hyphenate-limit-chars: 6 3 2;

	-webkit-hyphenate-limit-zone: 2em;
	-moz-hyphenate-limit-zone: 2em;
	-ms-hyphenate-limit-zone: 2em;
	-o-hyphenate-limit-zone: 2em;
	hyphenate-limit-zone: 2em;
	/**/
}

/* [7] Fold
------------------------------------------------------------------------------*/

#fold {
	text-align: center;
	font-size: .8em;
	line-height: 1.25em;
	margin-top: 5.625em;
	padding: 1.875em;
	background: #f0f3f3;
}

#fold a {
	text-decoration: underline;
}

#fold p {
	margin: .5em 0;
}

#fold small {
	font-size: .75em;
}

#fold small a {
	color: #112;
}


/* [8] Mobiles
------------------------------------------------------------------------------*/

@media (max-width: 650px) {

	body {
		/* geometricPrecision can be slow on smartphones */
		text-rendering: optimizeSpeed;
	}

	.dk-only {
		border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}

	#banner {
		margin-top: 1.5em;
	}

	#menu {
		background: teal;
		border-color: #223;
		z-index: 9999;
		max-height: 100%;
		overflow-y: auto;
	}

	#menu li {
		display: block;
		text-align: center;
		background: #223;
	}

	#menu a {
		display: block;
		color: #eef4d7;
		height: 1.5em;
		line-height: 1.5em;
	}
	#menu a:hover {
		color: #eef4d7;
		cursor: default;
	}

	#menu li {
		height: 3px;
		margin: 3px auto;
		width: 1em;
		transition: all ease .75s;
	}
	#menu a {
		display: block;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: .75s opacity ease .75s;
	}

	#menu.opened li {
		height: auto;
		margin: .75em auto;
		width: 90%;
	}

	#menu.opened a {
		visibility: visible;
		opacity: 1;
		cursor: pointer;
	}

	#switch-menu {
		display: block;
		position: absolute;
		height: 98%;
		width: 100%;
		cursor: pointer;
		text-align: center;
		padding: 1% 0;
	}

	#switch-menu span {
		display: none;
		text-align: center;
		font-size: 1.5em;
		color: #223;
		font-weight: bold;
		border: 2px solid #fff;
		border-radius: 99em;
		width: 1em;
		height: 1em;
		opacity: 0;
	}

	#menu.opened #switch-menu {
		position: relative;
	}

	#menu.opened #switch-menu span {
		display: inline-block;
		opacity: 1;
	}

}


/* [9] Desktops
------------------------------------------------------------------------------*/

@media (min-width: 1100px) {

	body {
		text-rendering: geometricPrecision;
	}
}
