{{ partial "head.html" . }}
    <body id="singlepage" role="document" itemscope itemtype="http://schema.org/Article">

        <!-- Navbar -->
        {{ partial "navbar.html" . }}
        {{ partial "header-minimal.html" . }}

        <meta itemprop="url" content="{{ .Permalink }}" />
        <meta itemprop="wordCount" content="{{ .WordCount }}" />
        <meta itemprop="timeRequired" content="P{{ .ReadingTime }}M" />
        {{ if .Description }}<meta itemprop="description" content="{{ .Description }}" />{{ end }}
        {{ if .Params.author }}<meta itemprop="author" content="{{ .Params.author }}" />
        {{ else }}<meta itemprop="author" content="{{ .Site.Params.author }}" />{{ end }}
        {{ if .Params.lang }}<meta itemprop="inLanguage" content="{{ .Params.lang }}" />{{ end }}

        <article class="post" role="article"{{ if .Params.lang }} lang="{{ .Params.lang }}"{{ end }}>
            <header>
                <h1 id="headline" itemprop="headline">{{ .Title }}</h1>
            </header>
            {{ if .Params.notoc }}
            <nav id="toc">
                {{ .TableOfContents }}
            </nav>
            {{ end }}

            <div class="page-content" itemprop="articleBody">
                {{ .Content }}
            </div>
        </article>

        {{ partial "footer.html" . }}
    </body>
</html>
