
                    <!-- Banner -->
                    <header id="banner" role="banner">
                        <div class="headline">

                            <object data="/media/banner-shrew.svg" type="image/svg+xml" width="400" height="400">
                                <embed src="/media/banner-shrew.svg" type="image/svg+xml" width="400" height="400" pluginspage="http://www.adobe.com/svg/viewer/install/" />
                            </object>
                            <h1 id="sitename" aria-label="{{ $.Site.Data.locale.sitename }}">{{title .Site.Title }}</h1>
                            {{ if .Site.Params.subtitle }}<h2 class="huge">{{title .Site.Params.subtitle }}</h2>{{ end }}
                        </div>
                    </header>
                    <hr class="sr-only" />

                    {{ partial "header-minimal.html" . }}
