
    {{ if .Site.BuildDrafts }}<div class="wip" role="log" aria-label="Status du site">{{title $.Site.Data.locale.previewDrafts }}</div>{{ end }}
    {{ range .Paginator.Pages }}
        <article class="post post-item" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <div>
                    <h3 class="post-title x-large" itemprop="name">
                        <a href="{{ .Permalink }}" itemprop="url"{{ if .Params.lang }} hreflang="{{ .Params.lang }}"{{ end }}>{{ .Title }}{{ if .Draft }} <small class="draft">draft</small>{{ end }}</a>
                    </h3>
                    <div class="meta">{{ $.Site.Data.locale.published }} <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format $.Site.Data.locale.dateFormat }}</time> &middot;
                    <small>{{ .Date.Format $.Site.Data.locale.readingTime }}: <em>{{ .ReadingTime }}&nbsp;minute{{ if gt .ReadingTime 1 }}s{{ end }}</em></small></div>
                    {{ partial "tags.html" . }}
                </div>
            </header>
            <div class="summary" itemprop="description">
                <p>{{ .Summary }}</p>
                {{ if .Truncated }}<div class="read-more"><a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}"><span class="sr-only">{{ .Date.Format $.Site.Data.locale.readmore }} </span>&rarr;</a></div>{{ end }}
            </div>

        </article>
    {{ end }}
