
                <nav id="menu" class="column" role="navigation">
                    <h2 class="sr-only">{{title $.Site.Data.locale.primaryNavigation }}</h2>
                    <ul class="sidebar-menu">
                    	<!-- <li><a href="/post/">Blog</a></li> -->
                        {{ range .Site.Menus.main }}
                    		<li><a href="{{.Url}}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
                    	{{end}}
                    	<!-- <li itemprop="creator" itemscope itemtype="http://schema.org/Person"><a href="/resume/" itemprop="url" title="Consultez mon CV" target="_blank">CV</a></li> -->
                    </ul>
                </nav>
